<style>
  @media screen and (max-width: 600px) {
    #terms{
      display: none;
    }
  }
</style>

  <footer class="footer has-background-dark">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths has-text-centered">
          <h3 class="title has-text-white mb-4">YouTube to MP3 Converter</h3>
          <div class="field is-grouped is-grouped-centered mb-4">
            <p class="control">
              <a class="button is-link is-outlined" href="/about-us">About</a>
            </p>
            <p class="control">
              <a class="button is-link is-outlined" href="/privacy">Privacy Policy</a>
            </p>
            <p class="control">
              <a class="button is-link is-outlined " id="terms" href="/terms">Terms & Conditions</a>
            </p>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <a class="button is-white is-outlined" href="https://github.com/Saurabhdixit93">
                <span class="icon is-medium"><i class="fab fa-github"></i></span>
              </a>
            </p>
            <p class="control">
              <a class="button is-white is-outlined" href="https://www.linkedin.com/in/saurabhdixit93">
                <span class="icon is-medium"><i class="fab fa-linkedin"></i></span>
              </a>
            </p>
            <p class="control">
              <a class="button is-white is-outlined" href="mailto:smartds2550@gmail.com">
                <span class="icon is-medium"><i class="fas fa-envelope"></i></span>
              </a>
            </p>
          </div>
          <p class="has-text-white mt-4">Developed by Saurabh Dixit  &copy; 2023</p>
        </div>
      </div>
    </div>
  </footer>
