<style>
    img{
        height: 100px;
        width: 50px;
    }
    nav{
        box-shadow: 0.4px 0.5px 0.4px 0.7px black ;
    }
</style>
<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://img.icons8.com/dusk/100/null/caesium.png" alt="Logo">
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/">
          Home
        </a>

        <a class="navbar-item" href="/video-downloader">
          Video Downloader
        </a>
  
        <a class="navbar-item" href="/about-us">
          About Us
        </a>
  
        <a class="navbar-item" href="/contact-us">
          Contact Us
        </a>
  
        <a class="navbar-item" href="/privacy">
          Privacy Policy
        </a>
  
        <a class="navbar-item" href="/terms">
          Terms & Conditions
        </a>
      </div>
    </div>
  </nav>