<title><%= title %></title>

<style>
    body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     line-height: 1.6;
     background-color: #f8f9fa;
    }
  
    h1, h2, h3, h4, h5, h6 {
     margin-top: 0;
     font-weight: 700;
    }
  
    .header {
     background-color: #343a40;
     color: #fff;
     padding: 20px;
    }
  
    .header h1 {
     font-size: 36px;
    }
  
    .section {
     margin-top: 50px;
     margin-bottom: 50px;
    }
  
    .section-heading {
     font-size: 24px;
     font-weight: 700;
     margin-bottom: 30px;
    }
  
    .about-us-content {
     font-size: 18px;
     line-height: 1.8;
     color: #444;
     margin-bottom: 30px;
    }
  
</style>
<header class="header">
    <div class="container" style="text-align: center;">
        <h1 class="title has-text-white">About Us</h1>
    </div>
</header>
  
<section class="section">
<div class="container">
    <div class="columns">
    <div class="column is-two-thirds">
        <figure class="image">
            <img src="/images/AboutUs.png" alt="Contact Us">
        </figure>
    </div>
    <div class="column">
    <h2 class="section-heading">Who We Are</h2>
    <p class="about-us-content">YouTube Video Downloader & Converter is a web application that allows you to download and convert YouTube videos to audio files. Our app is fast, easy to use, and completely free. We are a team of developers who are passionate about creating useful tools for people to use.</p>
    <h2 class="section-heading">Our Mission</h2>
    <p class="about-us-content">Our mission is to provide a simple, reliable, and efficient way for people to download and convert YouTube videos to audio files. We want to help people enjoy their favorite music and videos on any device, anywhere and anytime they want.</p>
    </div>
    </div>
</div>
</section>