<title><%= title %></title>
 <% if (message) { %>
  <div class="popup-form" id="myForm">
    <div class="popup-content">
      <div class="close-button" onclick="closeForm()">&times;</div>
      <h2> <%= message %></h2>
    </div>
  </div>
<% } %>
<section class="section">
  <div class="container">
    <h1 class="title">YouTube to Audio Converter</h1>
    <form action="/convert-audio" method="post">
      <div class="field">
        <label class="label">YouTube Video URL</label>
        <div class="control">
          <input class="input" type="text" name="url" placeholder="Enter YouTube video URL" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Audio Quality</label>
        <div class="control">
          <div class="select">
            <select name="quality" required>
              <option value="">Select audio quality</option>
              <option value="96">Low (96 kbps)</option>
              <option value="128">Medium (128 kbps)</option>
              <option value="192">High (192 kbps)</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">
            <span class="icon">
              <i class="fas fa-file-audio"></i>
            </span>
            <span>Convert to MP3</span>
          </button>
        </div>
      </div>
    </form>

    <% if (audioFiles.length > 0) { %>
      <h2 class="subtitle">Converted Audio Files:</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Filename</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <% audioFiles.forEach(audioFile => { %>
            <tr>
              <td><%= audioFile.filename %></td>
              <td><a href="/download-audio?filename=<%= audioFile.filename %>" class="button is-primary">Download</a></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </div>
</section>
