<title><%= title %></title>
<section class="section">
    <div class="container">
    <h1 class="title">Privacy Policy</h1>
    <p>Thank you for using our Service. This Privacy Policy explains how we collect, use, and disclose information about you when you use our Service. We take your privacy seriously and are committed to protecting your personal information.</p>
    <h2 class="subtitle">Information We Collect</h2>
    <p>We may collect information about you when you use our Service, such as:</p>
    <ul>
        <li>Your name and email address</li>
        <li>Your IP address</li>
        <li>Information about the device you are using</li>
        <li>Your location data</li>
    </ul>
    <h2 class="subtitle">How We Use Your Information</h2>
    <p>We may use your information to:</p>
    <ul>
        <li>Provide and maintain our Service</li>
        <li>Improve our Service</li>
        <li>Respond to your inquiries and requests</li>
        <li>Send you promotional materials</li>
        <li>Comply with legal obligations</li>
    </ul>
    <h2 class="subtitle">Information Sharing</h2>
    <p>We may share your information with:</p>
    <ul>
        <li>Third-party service providers who assist us in providing our Service</li>
        <li>Law enforcement or other government officials as required by law</li>
        <li>Third parties as required for legal purposes</li>
    </ul>
    <h2 class="subtitle">Security</h2>
    <p>We take reasonable measures to protect your information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee the absolute security of your information.</p>
    <h2 class="subtitle">Changes to This Policy</h2>
    <p>We may update this Privacy Policy from time to time. If we make any material changes, we will notify you by email or by posting a notice on our website prior to the change becoming effective.</p>
    <h2 class="subtitle">Governing Law and Jurisdiction</h2>
    <p>These Terms shall be governed by and construed in accordance with the laws of the jurisdiction in which we are located, without giving effect to any principles of conflicts of law. Any dispute arising out of or in connection with these Terms shall be resolved by arbitration in accordance with the rules of the arbitration organization we select.</p>
    <h2 class="subtitle">Contact Us</h2>
    <p>If you have any questions or comments about this Privacy Policy or our Service, please contact us at <a href="mailto:smartds2550@gmail.com">smartds2550@gmail.com</a>.</p>
    </div>
</section>
